[package]
name = "micromark"
version = "0.0.0"
authors = ["Titus Wormer <tituswormer@gmail.com>"]
edition = "2018"
rust-version = "1.56"
description = "small commonmark compliant markdown parser with positional info and concrete tokens"
homepage = "https://github.com/micromark/micromark-rs"
repository = "https://github.com/micromark/micromark-rs"
license = "MIT"
keywords = ["commonmark", "markdown", "parse", "render", "tokenize"]
categories = ["compilers", "encoding", "parser-implementations", "parsing", "text-processing"]
include = ["src/", "license"]
publish = false

[[bench]]
name = "bench"
harness = false

[dependencies]
log = "0.4"

[dev-dependencies]
env_logger = "0.9"
criterion = "0.3"

[build-dependencies]
regex = "1.5"
reqwest = "0.11"
tokio = { version = "1.12", features = ["full"] }
